Repository jmanhype/cybertask, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jmanhype, @cybertask/maintainers, @cybertask/devops-team, @cybertask/backend-team, @cybertask/frontend-team, @cybertask/security-team, @cybertask/qa-team

.github/CODEOWNERS:

# CyberTask Code Owners
# This file defines who is responsible for code in this repository.
# Order matters - the last matching pattern takes precedence.

# Global owners (fallback)
* @jmanhype @cybertask/maintainers

# CI/CD and Infrastructure
/.github/ @cybertask/devops-team @cybertask/maintainers
/docker-compose*.yml @cybertask/devops-team
/Dockerfile @cybertask/devops-team
/deployment/ @cybertask/devops-team @cybertask/maintainers
/.env.example @cybertask/devops-team
/scripts/ @cybertask/devops-team

# Backend
/backend/ @cybertask/backend-team @cybertask/maintainers
/backend/src/controllers/ @cybertask/backend-team
/backend/src/models/ @cybertask/backend-team
/backend/src/routes/ @cybertask/backend-team
/backend/src/middleware/ @cybertask/backend-team
/backend/tests/ @cybertask/backend-team
/backend/prisma/ @cybertask/backend-team
/backend/Dockerfile @cybertask/backend-team @cybertask/devops-team

# Frontend
/frontend/ @cybertask/frontend-team @cybertask/maintainers
/frontend/src/components/ @cybertask/frontend-team
/frontend/src/pages/ @cybertask/frontend-team
/frontend/src/services/ @cybertask/frontend-team
/frontend/src/store/ @cybertask/frontend-team
/frontend/src/__tests__/ @cybertask/frontend-team
/frontend/Dockerfile @cybertask/frontend-team @cybertask/devops-team

# Database
/database/ @cybertask/backend-team @cybertask/maintainers
/database/migrations/ @cybertask/backend-team
/database/seeds/ @cybertask/backend-team
/database/schema.sql @cybertask/backend-team

# Documentation
/docs/ @cybertask/maintainers
/README.md @cybertask/maintainers
/CONTRIBUTING.md @cybertask/maintainers
/CHANGELOG.md @cybertask/maintainers

# Security-sensitive files
/docs/deployment/ @cybertask/devops-team @cybertask/security-team
/docs/security/ @cybertask/security-team @cybertask/maintainers
/.github/workflows/security.yml @cybertask/security-team @cybertask/devops-team
/.github/dependabot.yml @cybertask/security-team @cybertask/devops-team

# Testing
/e2e/ @cybertask/qa-team @cybertask/maintainers
/tests/ @cybertask/qa-team

# Package files
package.json @cybertask/maintainers
package-lock.json @cybertask/maintainers
/backend/package.json @cybertask/backend-team @cybertask/maintainers
/frontend/package.json @cybertask/frontend-team @cybertask/maintainers

# Configuration files
/backend/tsconfig.json @cybertask/backend-team
/frontend/tsconfig.json @cybertask/frontend-team
/backend/jest.config.js @cybertask/backend-team
/frontend/vite.config.ts @cybertask/frontend-team
/frontend/tailwind.config.js @cybertask/frontend-team

📦 Complete CyberTask Production Deployment
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  DEPLOYMENT_SUMMARY.md
Owners: @jmanhype, @cybertask/maintainers

feat: Add Docker support and update README with container registry info
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  README.md
  backend/Dockerfile
  frontend/Dockerfile
Owners: @jmanhype, @cybertask/maintainers, @cybertask/backend-team, @cybertask/devops-team, @cybertask/frontend-team

Fix README deployment references and ensure Docker labels are correct
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  README.md
  backend/Dockerfile
  frontend/Dockerfile
Owners: @jmanhype, @cybertask/maintainers, @cybertask/backend-team, @cybertask/devops-team, @cybertask/frontend-team

Configure frontend for Vercel deployment
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  frontend/.claude-flow/metrics/performance.json
  frontend/.claude-flow/metrics/task-metrics.json
  frontend/.gitignore
  frontend/package.json
  frontend/vercel.json
  package-lock.json
Owners: @jmanhype, @cybertask/maintainers, @cybertask/frontend-team

Add Railway deployment configuration
  backend/start.sh
  frontend/.claude-flow/metrics/performance.json
  frontend/.claude-flow/metrics/task-metrics.json
  railway.toml
  scripts/deploy-railway.md
Owners: @cybertask/backend-team, @cybertask/maintainers, @cybertask/frontend-team, @jmanhype, @cybertask/devops-team

Fix Dockerfile: Remove missing jest.config.js copy
  backend/Dockerfile
Owners: @cybertask/backend-team, @cybertask/devops-team

Fix Railway build context for backend directory
  railway.toml
Owners: @jmanhype, @cybertask/maintainers

Move Dockerfile to root for Railway deployment
  Dockerfile
  railway.toml
Owners: @cybertask/devops-team, @jmanhype, @cybertask/maintainers

Fix production logger permissions issue
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  Dockerfile
  backend/src/config/logger.ts
  scripts/setup-vercel-env.sh
Owners: @jmanhype, @cybertask/maintainers, @cybertask/devops-team, @cybertask/backend-team

Fix TypeScript compilation errors for production deployment
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  backend/src/config/database.ts
  backend/src/middleware/auth.ts
  backend/src/routes/notifications.ts
  backend/src/routes/projects.ts
Owners: @jmanhype, @cybertask/maintainers, @cybertask/backend-team
